.learn-page-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.learn-container {
    max-width: 30rem;
    margin-bottom: 0.5rem;
}